* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #19c8fa;
  --main-transparent-color: rgb(15 116 143 / 70%);
  --grey-color: #777;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*start components*/
.special-heading {
  margin: 80px auto;
  text-align: center;
}
.special-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: auto;
  text-transform: uppercase;
}
.special-heading h2::before {
  content: "";
  width: 70%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -30px;
  left: 15%;
}
.special-heading h2::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  position: absolute;
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid black;
}
.special-heading p {
  margin: 70px auto 0;
  color: var(--grey-color);
  max-width: 550px;
  line-height: 2;
}
/*end components*/

/*start header*/
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
}
header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  left: 15px;
  bottom: -1px;
  background-color: var(--grey-color);
  z-index: -1;
}
header img {
  height: 42px;
}
header i.fa-bars {
  margin-left: auto;
  height: 100%;
  line-height: 100px;
}
@media (min-width: 768px) {
  header i.fa-bars {
    display: none;
  }
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
  line-height: 100px;
}
header ul::after {
  content: "";
  height: 35%;
  padding-left: 20px;
  border-right: 1px solid white;
}
header li {
  height: 100%;
}
header a {
  display: block;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  font-size: 14px;
}
header a.active,
header a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
@media (max-width: 768px) {
  header .container {
    min-width: 100%;
  }
  header ul {
    display: none;
  }
  header i.fa-bars::after {
    content: "";
    height: 35%;
    padding-left: 30px;
    border-right: 1px solid white;
  }
  header i.fa-bars:hover + ul {
    position: absolute;
    display: flex;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 60%);
    padding: 0;
    margin: 0;
    height: auto;
    line-height: 50px;
  }
  header i.fa-bars:hover + ul li {
    width: 100%;
  }
  header i.fa-bars:hover + ul li a {
    width: 100%;
    padding: 0 15px;
    margin: 0;
  }
}
header i {
  color: white;
  margin-left: 20px;
  font-size: 22px;
  cursor: pointer;
}
/*end header*/

/*start landing section*/
.landing {
  display: flex;
  background-image: url("../images/landing.jpg");
  height: 100vh;
  background-size: cover;
  align-items: center;
}
.landing .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 60%);
}
.landing :not(.overlay) {
  z-index: 0;
}
.landing .content {
  background-color: var(--main-transparent-color);
  color: white;
  padding: 60px 40px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .landing .content {
    width: 100%;
  }
}
.landing .content h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
  max-width: 500px;
  line-height: 1.5;
}
.landing .content p {
  font-size: 14px;
  line-height: 2;
  max-width: 500px;
}
.landing .nav-arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: white;
  font-size: 22px;
}
.landing .nav-arrows i {
  cursor: pointer;
}
.landing .nav-circles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.landing .nav-circles span {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin: 3px;
  cursor: pointer;
}
.landing .nav-circles span.active {
  background-color: var(--main-color);
  border: none;
}
@media (max-width: 768px) {
  .landing .nav-arrows,
  .landing .nav-circles {
    display: none;
  }
}
/*end landing section*/

/*start services section*/
.services {
  display: flex;
}
.services .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .services .content {
    grid-template-columns: 1fr;
  }
}
.services .service {
  display: flex;
}
.services .service i {
  font-size: 40px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .services .service {
    flex-direction: column;
    align-items: center;
  }
  .services .service i {
    margin: 0 0 30px 0;
  }
  .services .service .text {
    text-align: center;
  }
}
.services .service h3 {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 20px;
}
.services .service p {
  color: var(--grey-color);
  line-height: 2;
  font-size: 16px;
}
/*end services section*/

/*start design section*/
.design {
  display: flex;
  background-image: url("../images/design-features.jpg");
  position: relative;
  align-items: center;
  overflow: hidden;
}
.design .overlay {
  background-color: rgba(0, 0, 0, 60%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.design .image {
  position: relative;
  top: 150px;
  flex: 1;
  text-align: center;
}
@media (max-width: 768px) {
  .design .image {
    display: none;
  }
}
.design .text {
  position: relative;
  background-color: var(--main-transparent-color);
  color: white;
  padding: 40px;
  margin: 100px 0;
  flex: 1;
}
.design h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 24px;
}
.design ul {
  list-style: none;
}
.design li {
  padding: 20px 0;
}
.design li i {
  margin-right: 1em;
}
/*end design section*/

/*start portfolio section*/
.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio ul {
  list-style: none;
  margin: auto;
  display: flex;
  margin-bottom: 60px;
}
.portfolio li {
  padding: 10px;
  cursor: pointer;
}
.portfolio li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .gallery {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
}
@media (min-width: 768px) {
  .portfolio .gallery {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media (min-width: 1220px) {
  .portfolio .gallery {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}
.portfolio .gallery .image {
  position: relative;
  overflow: hidden;
}
.portfolio .gallery .image img {
  width: 100%;
  transition-duration: 0.3s;
}
.portfolio .gallery .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .gallery .image .text {
  background-color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -100%;
  transition-duration: 0.3s;
}
.portfolio .gallery .image:hover .text {
  margin-bottom: 0;
}
.portfolio .gallery .image p:first-child {
  margin-bottom: 8px;
}
.portfolio .gallery .image p:last-child {
  color: var(--main-color);
}
.portfolio > a {
  background-color: var(--main-color);
  color: white;
  padding: 15px;
  width: fit-content;
  text-transform: uppercase;
  margin: 20px auto 80px;
  text-decoration: none;
}
/*end portfolio section*/

/*start video section*/
.video {
  position: relative;
}
.video::after {
  content: "";
  background-color: rgba(0, 0, 0, 40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video video {
  width: 100%;
}
.video .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-transparent-color);
  width: 100%;
  padding: 40px;
  color: white;
  text-align: center;
  z-index: 1;
}
.video .content h3 {
  font-weight: normal;
  font-size: 24px;
}
.video .content p {
  margin: 30px 0 40px;
}
.video .content a {
  background-color: black;
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
/*end video section*/

/*start about section*/
.about .image {
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.about img {
  max-width: 100%;
  position: relative;
  top: 120px;
  margin-top: -120px;
}
@media (max-width: 768px) {
  .about img {
    top: 80px;
    margin-top: -80px;
  }
}
/*end about section*/

/*start stats section*/
.stats {
  display: flex;
  background-image: url("../images/stats.png");
  position: relative;
}
.stats::after {
  content: "";
  background-color: rgba(0, 0, 0, 70%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .stats .container {
    width: 100%;
  }
}
.stats .content {
  position: relative;
  color: white;
  z-index: 1;
  background-color: var(--main-transparent-color);
  padding: 40px;
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
@media (min-width: 768px) {
  .stats .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .stats .content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.stats .content .stat {
  text-align: center;
}
.stats .content .stat i {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}
.stats .content .stat h3 {
  font-size: 48px;
  margin-bottom: 20px;
}
.stats .content .stat p {
  font-size: 14px;
}
/*end stats section*/

/*start skills section*/
.skills {
  display: flex;
  justify-content: center;
}
.skills .container {
  display: flex;
  margin: 80px auto;
  justify-content: space-between;
}
.skills .col1,
.skills .col2 {
  flex: 1;
}
@media (max-width: 992px) {
  .skills .container {
    flex-wrap: wrap;
  }
  .skills .col1 {
    margin-bottom: 40px;
  }
  .skills .col1, .skills .col2 {
    min-width: 100%;
  }
}
@media (min-width: 992px) {
  .skills .col1, .skills .col2 {
    max-width: 420px;
  }
}
@media (min-width: 1200px) {
  .skills .col1, .skills .col2 {
    max-width: 500px;
  }
}
.skills .col1 h4,
.skills .col2 h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}
.skills .col1 > p,
.skills .col2 > p {
  color: var(--grey-color);
  margin: 0 auto 60px;
  line-height: 2;
  text-align: center;
}
.skills .col1 .content {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
}
.skills .col1 .review {
  display: flex;
}
.skills .col1 .review img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .skills .col1 .review {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .skills .col1 .review img{
    margin: 0 0 20px 0;
  }
}
.skills .col1 .review .text {
  line-height: 2;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}
.skills .col1 .review .text .name {
  color: var(--grey-color);
  font-size: 14px;
  align-self: flex-end;
  margin-bottom: 10px;
}
.skills .col1 .nav-circles {
  text-align: center;
}
.skills .col1 .nav-circles span {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 13px;
  height: 13px;
  margin: 3px;
  cursor: pointer;
}
.skills .col1 .nav-circles span.active {
  background-color: var(--main-color);
  border: none;
}
.skills .col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .col2 .content {
  display: grid;
  gap: 50px;
  width: 100%;
}
.skills .col2 .skill > p {
  margin-bottom: 10px;
}
.skills .col2 .skill .bar {
  height: 30px;
  width: 100%;
  background-color: #dedadc;
  position: relative;
}
.skills .col2 .skill .bar p[style] {
  background-color: var(--main-color);
  height: 30px;
}
.skills .col2 .skill .bar p.percent {
  position: absolute;
  top: -35px;
  background-color: black;
  color: white;
  height: fit-content;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  transform: translateX(-50%);
}
.skills .col2 .skill .bar p.percent::after {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  bottom: -17px;
  z-index: -1;
}
/*end skills section*/
